<!DOCTYPE html>

<title>Edit TipoCondicion</title>

{% block body %}
    <h1>Edit TipoCondicion</h1>

    {{ include('tipo_condicion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tipo_condicion_index') }}">back to list</a>

    {{ include('tipo_condicion/_delete_form.html.twig') }}
{% endblock %}
