<!DOCTYPE html>

<title>New TipoCondicion</title>

{% block body %}
    <h1>Create new TipoCondicion</h1>

    {{ include('tipo_condicion/_form.html.twig') }}

    <a href="{{ path('tipo_condicion_index') }}">back to list</a>
{% endblock %}
