<!DOCTYPE html>

<title>Edit CondicionEducativaAlumnos</title>

{% block body %}
    <h1>Edit CondicionEducativaAlumnos</h1>

    {{ include('condicion_educativa_alumnos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('condicion_educativa_alumnos_index') }}">back to list</a>

    {{ include('condicion_educativa_alumnos/_delete_form.html.twig') }}
{% endblock %}
