<!DOCTYPE html>

<title>New CondicionEducativaAlumnos</title>

{% block body %}
    <h1>Create new CondicionEducativaAlumnos</h1>

    {{ include('condicion_educativa_alumnos/_form.html.twig') }}

    <a href="{{ path('condicion_educativa_alumnos_index') }}">back to list</a>
{% endblock %}
