<!DOCTYPE html>

<title>Edit CondicionDocenteEducativa</title>

{% block body %}
    <h1>Edit CondicionDocenteEducativa</h1>

    {{ include('condicion_docente_educativa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('condicion_docente_educativa_index') }}">back to list</a>

    {{ include('condicion_docente_educativa/_delete_form.html.twig') }}
{% endblock %}
