<!DOCTYPE html>

<title>Edit Escuela</title>

{% block body %}
    <h1>Edit Escuela</h1>

    {{ include('escuela/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('escuela_index') }}">back to list</a>

    {{ include('escuela/_delete_form.html.twig') }}
{% endblock %}
