<!DOCTYPE html>

<title>New Escuela</title>

{% block body %}
    <h1>Create new Escuela</h1>

    {{ include('escuela/_form.html.twig') }}

    <a href="{{ path('escuela_index') }}">back to list</a>
{% endblock %}
