{% extends 'layout/autenticado.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/openlayer/css/ol.css','app') }}" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Mi primer mapa</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14" style="padding: 0px">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/openlayer/js/ol.js','app') }}"></script>
    <script src="{{ asset('js/maps/maps.js','app') }}" type="text/javascript"></script>
    <script>
        maps.init();
    </script>
{% endblock %}
