<!DOCTYPE html>

<title>Edit PlanTrabajo</title>

{% block body %}
    <h1>Edit PlanTrabajo</h1>

    {{ include('plan_trabajo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plan_trabajo_index') }}">back to list</a>

    {{ include('plan_trabajo/_delete_form.html.twig') }}
{% endblock %}
