<!DOCTYPE html>

<title>New PlanTrabajo</title>

{% block body %}
    <h1>Create new PlanTrabajo</h1>

    {{ include('plan_trabajo/_form.html.twig') }}

    <a href="{{ path('plan_trabajo_index') }}">back to list</a>
{% endblock %}
