<li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('escuela_index') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Escuela</span></a></li>
