<li class="kt-menu__item "><a href="{{ path('escuela_index') }}" class="kt-menu__link ">
        <span class="kt-menu__link-text">
            <i class="kt-menu__link-bullet  flaticon2-open-text-book"></i> Escuela
        </span>
    </a></li>
