{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Código postal</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <a href="{{ path('codigo_postal_index') }}" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
                Regresar al Listado
            </a>
        </div>
    </div>


    <div class="col-xl-12">
        <!--begin:: Widgets/Daily Sales-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget14">
                <div class="kt-widget14__header kt-margin-b-30">
                    <h3 class="kt-widget14__title">
                        Nuevo
                    </h3>
                </div>
                {{ include('codigo_postal/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
