<form method="post" action="{{ path('diagnostico_plantel_delete', {'id': diagnostico_plantel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diagnostico_plantel.id) }}">
    <button class="btn">Delete</button>
</form>
