<!DOCTYPE html>

<title>New DiagnosticoPlantel</title>

{% block body %}
    <h1>Create new DiagnosticoPlantel</h1>

    {{ include('diagnostico_plantel/_form.html.twig') }}

    <a href="{{ path('diagnostico_plantel_index') }}">back to list</a>
{% endblock %}
